html{
    scroll-behavior: smooth;
}


body{
    background-color: gray;
}

ul{
    text-align: center;
    padding: 0%;

 
}



li{
    display:inline;
    color: white;
    font-size: 20px;


}


a{
    text-decoration: none;

}


.mainHeader{
    background-color: blanchedalmond;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin-top: 50px;
}

.cardElement{

    background-color: white;
    width: 300px;
    margin: auto;
}